{% extends "base.html" %} 
{%block content%}
<h1>Hello {{user}}</h1>
{%if messages%}
  {%for message in messages%}
    <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400 transition duration-1000 ease-in-out" role="alert">
      <span class="font-medium">{{message}}</span>
    </div>  
  {%endfor%}
{%endif%}
<main class="flex flex-col items-center justify-center h-screen">
{%if user.is_authenticated %}
  <table class="table-auto w-40">
    <thead>
      <tr class="h-8">
        <th scope = "col" class="text-align border border-radius"> Name</th>
        <th scope = "col" class="text-align border"> Tipo</th>
        <th scope = "col" class="text-align border"> Quantity</th>
        <th scope = "col"> </th>
      </tr>
    </thead>
  <tbody>
  {% if items %}  
      {%for item in items%}
        <tr>
          <td class="border border-gray-300 ..."><a href=""> {{item.name}} </a></td>
          <td class="border border-gray-300 ..."><a href=""> {{item.type_product}} </a></td>
          <td class="border border-gray-300 ...">{{item.quantity}}</td>
          <td class="border border-gray-300 ..."> 
            <a class='bg-blue-300' href="{% url 'update_item' item.id %}">
              Update
            </a>
            <a class='bg-red-300' href="{% url 'delete_item' item.id %}">
              Delete
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  {%else%}
      <tr>
        <td>exemplo1</td>
        <td>exemplonome1</td>
        <td>exemploquantidade</td>
      </tr>
    </tbody>
  {% endif %}
</table>
<a class='bg-green-300' href="{% url 'add_item' %}">Add Item</a>
{%else%}
    <h1>You've got to be logged in!</h1>
{%endif%}
</main>
{%endblock%}
