{% extends "base.html" %} 
{%block content%}
{%if user.is_authenticated %}
  <h2> Hi {{user.username}} you're logged in!</h2>
  {%if messages%}
    {%for message in messages%}
      {{message}}
    {%endfor%}
  {%endif%}
  <thead>
    <tr>
      <th scope = "col" class="border border-gray-300"> Name</th>
      <th scope = "col" class="border border-gray-300"> Quantity</th>
    </tr>
  </thead>
  <tbody>
    {% if items %}  
      {%for item in items%}<table class="border-collapse border border-gray-400 ...">
        <tr>
          <td class="border border-gray-300 ..."><a href=""> {{item.id}}   </a></td>
          <td class="border border-gray-300 ..."><a href=""> {{item.name}} </a></td>
          <td class="border border-gray-300 ...">{{item.quantity}}</td>
        </tr>
      {% endfor %}
    {% endif %}
      </tbody>
    </table>
    <button class='bg-green-700' href="{% url 'add_item' %}">
      Add
    </button>
{%else%}
    <h1>You've got to be logged in!</h1>
    {%if messages%}
    {%for message in messages%}
      {{message}}
    {%endfor%}
  {%endif%}
{%endif%}
{%endblock%}
