{% extends "base.html" %} 
{%block content%}
<h1>You're in the Home page!</h1>
{%if user.is_authenticated%}
  <button href="{%url 'logout'%}">Logout</button>
  {%if messages%}
    {%for message in messages%}
      {{message}}
    {%endfor%}
  {%endif%}
{%else%}
<section class="flex h-100 w-100">
    <table class="border-collapse border border-gray-400 ...">
      <thead>
        <tr>
          <th class="border border-gray-300 ...">State</th>
          <th class="border border-gray-300 ...">City</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border border-gray-300 ...">Indiana</td>
          <td class="border border-gray-300 ...">Indianapolis</td>
        </tr>
        <tr>
          <td class="border border-gray-300 ...">Ohio</td>
          <td class="border border-gray-300 ...">Columbus</td>
        </tr>
        <tr>
          <td class="border border-gray-300 ...">Michigan</td>
          <td class="border border-gray-300 ...">Detroit</td>
        </tr>
      </tbody>
    </table>
</section>
{%endif%}
{%endblock%}
